/* Full screen background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #e5e5e5 50%,
    #5f7cff 50%
  );
}

/* Card */
.login-card {
  width: 360px;
  background: rgb(228, 210, 210);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 20px 50px ;
  text-align: center;
}

/* Heading */
.login-card h2 {
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
}

/* Inputs */
.login-card input {
  width: 80%;
  padding: 12px 15px;
  margin-bottom: 18px;
  border: none;
  border-radius: 30px;
  background: #f3f3f3;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
  
}
.login-card input[type="email"]::placeholder{
    text-align: center;
}
.login-card input[type="password"]::placeholder{
    text-align: center;
}

.login-card input:focus {
  background: #e9e9ff;
}

/* Button */
.login-card button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #9d6bff, #6c5ce7);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-card button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(108, 92, 231, 0.4);
}

/* Sign up link */
.signup-link {
  margin-top: 20px;
  font-size: 14px;
  color: #5f7cff;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}

.toast-success {
  position: absolute;
  top: 20px;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.4s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
