.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #e5e5e5 50%,
        #5f7cff 50%
    );
}

.signup-card {
    width: 360px;
    background: rgb(228, 210, 210);
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 20px 50px;
    text-align: center;
}

.signup-card h2{
    margin-bottom: 30px;
    margin-top: 1px;
    font-weight: 600;
}

.signup-card input{
    width: 75%;
    padding: 12px 15px;
    margin-bottom: 18px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.signup-card input[type="name"]::placeholder{
    text-align: center;
}

.signup-card input[type="email"]::placeholder{
    text-align: center;
}

.signup-card input[type="password"]::placeholder{
    text-align: center;
}

.signup-card input:focus{
    background: #e9e9ff;
}

.signup-card select{
    width: 25%;
    border: none;
    border-radius: 20px;
    margin-right: 30px;
    padding: 7px;
    outline: none;
    cursor: pointer;
}

.signup-card button{
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #9d6bff,#6c5ce7);
    color: wheat;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;

}

.signup-card button:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(108, 92, 231, 0.4);
}