.teacher-layout {
  display: flex;
  height: calc(100vh - 85px); /* subtract navbar height */
  
}

.student-layout {
  display: flex;
  height: calc(100vh - 85px);
}


.sidebar {
  width: 230px;
  background-color: #0992C2;
  color: white;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.sidebar-header button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-item {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover {
  background-color: #2563eb;
}

.menu-item.active {
  background-color: #52575f;
}


.content {
  flex: 1;
  padding: 15px;
  padding-top: 1px;
  background-color: #f9f9fb;
  overflow-y: auto;
  border: none;
  border-radius: 14px;
}

.header {
  background-color: #0AC4E0;
  padding: 10px 25px;
  width: fit-content;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 22px;
}

.class-table-container{
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.class-table{
  width: 100%;
  /* border-collapse: collapse; */
}

.class-table th {
  background-color: #f4f6f9;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  border-bottom: 2px solid #e0e0e0;
}
.class-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.class-table tr:hover {
  background-color: #234893;
}

.table-btn {
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.table-btn.manage {
  background-color: #2563eb;
}

.table-btn.live {
  background-color: #10b981;
}

.table-btn:hover {
  opacity: 0.85;
}


/* sidebar css for teacher*/

.sidebar {
  width: 240px;
  background-color: #1e3a8a;
  color: white;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.toggle-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menu-item {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.menu-item:hover {
  background-color: #2563eb;
}

.menu-item.active {
  background-color: #3b82f6;
}


/* sidebar css for studentDashboard */

